{% extends 'base.html.twig' %}

{% block title %}Réserve Stratégique{% endblock %}

{% block body %}
    <img src="{{ asset('build/logo.png') }}" class="mt-5" width="200">
    <h1 class="text-center text-danger mt-4">Bienvenue !</h1>
    <div class="container">
        <h3>Votre gestionnaire de produits de beauté.</h3>
        <h5 class="m-5 {{ app.user ? 'hide':'' }}">Enregistrez vos produits, ayez toujours à portée de main vos stocks pour ne plus jamais acheter un produit qui vous a déçu !</h5>

        <div class="row m-5 {{ app.user ? 'hide':'' }}">
            <div class="col s-6 mr-2">
                <a href="{{ path('app_register') }}" class="btn btn-lg btn-outline-secondary text-success">Inscription</a>
            </div>
            <div class="col s-6 ml-2">
                <a href="{{ path('app_login') }}" class="btn btn-lg btn-outline-secondary text-success">Connexion</a>
            </div>
        </div>
    </div>

{% endblock %}
