{{ form_start(form, { attr: {class: 'filter'} }) }}
    {{ form_row(form.q) }}
    <ul id="autocompletion">

    </ul>
    <h4 class="pl-3">Catégories</h4>
    {{ form_row(form.categories,  { attr: {class: 'text-left ml-4'} }) }}

<button type="submit" class="btn ml-3 btn-outline-secondary text-success mt-1">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form) }}
