
<nav class="navbar navbar-expand-lg navbar-light bg-primary ml-auto">
    <a class="navbar-brand" href="{{ app.user ? path('product_user_list') : path('home') }}"><img src="{{ asset('build/logoseul.png') }}" width="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-center">
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_new') }}">Ajouter à ma liste <i class="fas fa-plus"></i>  |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_user_list') }}">Mes produits <i class="fas fa-stream"></i> |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_favorites') }}">Mes favoris <i class="far fa-heart"></i> |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_hated') }}">Mes détestés <i class="fas fa-book-dead"></i> |</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile_edit', {'id': app.user.id}) }}"> Mon profil <i class="far fa-user-circle"></i>  |</a>
                </li>
                <li class="nav-item text-left">
                    <a href="{{ path('app_logout') }}" class="nav-link" > Se déconnecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
