<div class="row m-5">
    {% for product in products %}
        <div class="col-sm-4">
            <div class="card col-sm-12 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name | upper }}</h5>
                    <p class="card-text">
                    <ul class="list-unstyled">
                        <li>{{ product.category.name ~ ' - ' ~ product.brand | capitalize }}</li>
                        <li>{{ product.size }} mL</li>
                        <li>{{ product.color ? product.color : '~'}}</li>
                    </ul>
                    </p>
                    <p class="card-text"><small class="text-muted"></small></p>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% for comment in comments %}
                                {% if comment.product.id == product.id %}
                                    <i class="far fa-lightbulb fa-2x"></i> : {{ comment.content}}
                                {% endif %}
                            {% endfor %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div> Pas encore de produits enregistrés ! Fonce en ajouter !</div>
    {% endfor %}
</div>
